@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: "Montserrat", sans-serif;

}

.select{
    padding: 6rem;
}

#categoria-select label{
    font-size: 00.75rem;
    letter-spacing: 0.0225rem;
}

#button-select {
    margin-top: .5rem;
    display: flex;
    padding: 0.75rem;
    align-items: center;
    justify-content: space-between;

    border-radius: .375rem;
    border: 1px solid #252529;
    background-color: #17171A;
}

#value-select{
    color: #fff;
    font-size: 0.875rem;
    letter-spacing: 0.02625rem;
}

#divisor{
    color: #fff;
}

#divisor{
    color: #fff;
}